

.carrito-card {
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid gray;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.carrito-card img {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 200px;
}

.carritoContainer {
    border: none;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    justify-content: left;
    margin-top: 30px;
}